<h3>
  Level 2
</h3>

<p>Montant désiré :</p>
<input placeholder="Amount" type="text" id="amount" required [(ngModel)]="amount" name="amount" >
<button (click)="previousAmount()">Montant précédent</button>
<button (click)="nextAmount()">Montant suivant</button>


<br><br>

<button (click)="findCombinationOfCards()">VALIDER</button>

<br><br>

<div *ngIf="combinationOfCards!=null">
  <p>Votre montant est composé des cartes suivantes :</p>
  <div *ngIf="combinationOfCards.equal!=null">
    <div> - {{combinationOfCards.equal.value}} </div>
    <ul>
      <li *ngFor="let cardAmount of combinationOfCards.equal.cards" (click)="onSelect(cardAmount)"> {{cardAmount}} </li>
    </ul>
    <div *ngIf="combinationOfCards.floor!=null">
      <div *ngIf="combinationOfCards.floor.value!=combinationOfCards.equal.value">
        <div> - {{combinationOfCards.floor.value}} </div>
        <ul>
          <li *ngFor="let cardAmount of combinationOfCards.floor.cards" (click)="onSelect(cardAmount)"> {{cardAmount}} </li>
        </ul>
      </div>
    </div>
    <div *ngIf="combinationOfCards.ceil!=null">
      <div *ngIf="combinationOfCards.ceil.value!=combinationOfCards.equal.value">
        <div> - {{combinationOfCards.ceil.value}} </div>
        <ul>
          <li *ngFor="let cardAmount of combinationOfCards.ceil.cards" (click)="onSelect(cardAmount)"> {{cardAmount}} </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="combinationOfCards.equal==null">
    <div *ngIf="combinationOfCards.floor!=null">
        <div> - {{combinationOfCards.floor.value}} </div>
        <ul>
          <li *ngFor="let cardAmount of combinationOfCards.floor.cards" (click)="onSelect(cardAmount)"> {{cardAmount}} </li>
        </ul>
    </div>
    <div *ngIf="combinationOfCards.ceil!=null">
        <div> - {{combinationOfCards.ceil.value}} </div>
        <ul>
          <li *ngFor="let cardAmount of combinationOfCards.ceil.cards" (click)="onSelect(cardAmount)"> {{cardAmount}} </li>
        </ul>
    </div>
  </div>
</div>

<br><br>

<div *ngIf="msgError!=''" style="color: red;">{{msgError}}</div>