<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Wedoogift Logo" src="../assets/wedoogift.jpg">
</div>

<nav>
  <ul>
    <li><a routerLink="/level1" routerLinkActive="active">Level 1</a></li>
    <li><a routerLink="/level2" routerLinkActive="active">Level 2</a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
